extends layout

block content
  h1= title
  form
    label(for="")
      | Username
      br
      input(type="text", id="handle")
    br
    br
    label(for="")
      | Password
      br
      input(type="password", id="password")
    br
    br
    button(id="submit") Submit
  script 
    | let handle = document.querySelector("#handle");
    | let password = document.querySelector("#password");
    | let submit = document.querySelector("#submit");
    | submit.onclick = (e) => {
    |   e.preventDefault();
    |   fetch("http://localhost:3000/users/login", {
    |     method: "post",
    |     headers: {"Content-Type": "application/json"},
    |     body: JSON.stringify({ handle: handle.value, password: password.value })
    |   }).then(async res => { alert(await res.text()); })
    | }
